---
hide:
  - navigation
  - toc
---
# Searchable 🔍 Instagram Recipe Collection

> **About:** I find Instagram to be a wonderful site to find and save recipes. Alas, Instagram collections are not searchable, so I made this simple tool to search my personal Instagram recipe collection. The "tried and tested" recipes go to [**cook.luischav.es**](https://cook.luischav.es/)

**Recipe count: {{ RECIPE_COUNT }}**

<div class="grid cards" markdown>
{{ RECIPE_MD }}
</div>
