---
posted on: {{ POST_DATE }}
hide:
    - navigation
---

# {{ TITLE }} 

> recipe by [@{{ AUTHOR_HANDLE }}](https://www.instagram.com/{{ AUTHOR_HANDLE }}/) 
({{ AUTHOR_NAME }}) - [see original post]({{ POST_URL }})

![](../{{ IMAGE_PATH }})

{{ RECIPE_BODY }} 