---
title: "{{ TITLE | replace('"', '\\"') }}"
date: {{ POST_DATE }}
author_handle: "{{ AUTHOR_HANDLE }}"
author_name: "{{ AUTHOR_NAME | replace('"', '\\"') }}"
post_url: "{{ POST_URL }}"
image: "{{ IMAGE_PATH }}"
recipe_quality: ""
---

{{ RECIPE_BODY }}
